<Button
    class="action-button-spinner
        {{~if this.isContentHidden " action-button-spinner-is-content-hidden"}}
        {{~if this.isSpinning " action-button-spinner-is-spinning"}}
        {{~if this.successShown " action-button-spinner-success-shown"}}
        {{~if this.errorShown " action-button-spinner-error"}}"
    @action={{this.onClick}}
    @preventDefault={{this.preventDefault}}
    @buttonType={{this.buttonType}}
    @type={{@type}}
    @size={{@size}}
    @blockLayout={{@blockLayout}}
    @wide={{@wide}}
    @outline={{@outline}}
    @rounded={{@rounded}}
    @circle={{@circle}}
    @iconOnly={{@iconOnly}}
    @active={{@active}}
    @disabled={{@disabled}}
    @label={{@label}}
    @icon={{@icon}}
    @iconPrefix={{@iconPrefix}}
    @iconClass={{@iconClass}}
    @iconSize={{@iconSize}}
    @iconFlip={{@iconFlip}}
    @iconRotation={{@iconRotation}}
    @iconSpin={{@iconSpin}}
    @iconBorder={{@iconBorder}}
    @iconFixedWidth={{@iconFixedWidth}}
    @stopPropagation={{@stopPropagation}}
    ...attributes
>
    <span class="action-button-spinner-yielded-content">
        {{yield}}
    </span>
    {{#if this.isContentHidden}}
        <span class="action-button-spinner-ct">
            {{#if this.successShown}}
                <div class="{{this.successClass}} {{this.successAnimationClass}}">
                    <FaIcon
                        @icon={{this.successIcon}}
                        @prefix={{@iconPrefix}}
                        class="action-button-icon {{@successIconClass}}"
                    />
                </div>
            {{else}}
                <span class="{{this.loadingClass}} active"></span>
            {{/if}}
        </span>
    {{/if}}
</Button>
