<div class="action-button-fixed-width" style={{style}}>
    {{#if isContentReplaced}}
        &nbsp; {{!-- maintain the button's normal height --}}
        <div class="action-button-spinner-ct">
            {{#if successShown}}
                <div class="{{successClass}} {{successAnimationClass}}">
                    {{fa-icon successIcon class="action-button-icon"}}
                </div>
            {{else}}
                <span class="{{loadingClass}} active"></span>
            {{/if}}
        </div>
    {{else}}
        {{#if hasIcon}}
            {{fa-icon this.icon class="action-button-icon"}}
        {{/if}}
        {{#if (not iconBtn)}}
            {{#if label}}
                <span class="action-button-lbl">{{label}}</span>
            {{/if}}
            {{yield}}
        {{/if}}
        {{#if tooltip}}
            {{#attach-tooltip
                animation=tooltip-animation
                arrow=tooltip-arrow
                hideOn=tooltip-hide-on
                registerAPI=(action "onTooltipApiChange")
            }}
                {{tooltip}}
            {{/attach-tooltip}}
        {{/if}}
    {{/if}}
</div>
